<ion-header [translucent]="true">
  <ion-toolbar class="barra ion-text-center">
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fundo">

  <ion-card>

    <img src="https://cdn-icons-png.flaticon.com/512/5645/5645053.png">

    <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input placeholder="Insira o Email"></ion-input>
  </ion-item>

    <ion-item>
    <ion-label position="floating">Senha</ion-label>
    <ion-input placeholder="Insira a Senha" type="password"></ion-input>

  </ion-item>

  <p><a href="#">Esqueceu a senha?</a></p>


  <div class="botoes">
  <ion-button class="ion-text-center botao1" routerLink="../tabs/tab1">Entrar</ion-button>

  <ion-label class="espaco">Ainda não tem uma conta? <a routerLink="../registro">Registre-se</a></ion-label>


</div>
</ion-card>
</ion-content>
