<ion-header [translucent]="true">
  <ion-toolbar class="barra ion-text-center">
    <ion-title>
      Registro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fundo">

  <ion-card>

    <ion-card-title class="registro ion-text-center">Registre-se</ion-card-title>

    <hr style="height:5px; border:0; width: 50px; background:linear-gradient(to right, #E0F6FF, #3880ff);"/>

  <ion-item>
  <ion-label position="floating">Nome</ion-label>
  <ion-input placeholder="Insira seu nome"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Sobrenome</ion-label>
  <ion-input placeholder="Insira seu sobrenome"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">CPF</ion-label>
  <ion-input placeholder="Insira seu cpf"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Email</ion-label>
  <ion-input placeholder="Insira seu email"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Senha</ion-label>
  <ion-input placeholder="Insira sua senha" type="password"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Confirma Senha</ion-label>
  <ion-input placeholder="Confirme sua senha" type="password"></ion-input>
</ion-item>

<div class="botoes">
    <ion-button class="ion-text-center botao1">Registrar</ion-button>

    <p class="espaco">Já possui uma conta? <a routerLink="/tabs/tab1">Login</a></p>
  </div>

</ion-card>

</ion-content>
