<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-title>
      Home
    </ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/registro">
        <ion-icon slot="icon-only" name="person-add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item routerLink="/harry-potter">
    <ion-thumbnail slot="start">
      <img src="https://ingresso-a.akamaihd.net/img/cinema/cartaz/7766-cartaz.jpg">
    </ion-thumbnail>
    <ion-label>
      <h1>
        <strong>Harry Potter</strong>
      </h1>
      <h3>20 de setembro de 2001</h3>
      <ion-chip color="secondary">
        <ion-label color="dark">Fantasia</ion-label>
      </ion-chip>
      <ion-chip color="secondary">
        <ion-label color="dark">Aventura</ion-label>
      </ion-chip>
    </ion-label>
  </ion-item>
  <ion-item routerLink="/homem-aranha">
    <ion-thumbnail slot="start">
      <img src="https://musicart.xboxlive.com/7/94fc5000-0000-0000-0000-000000000002/504/image.jpg?w=1920&h=1080">
    </ion-thumbnail>
    <ion-label>
      <h1>
        <strong>Homem Aranha</strong>
      </h1>
      <h3>10 de janeiro de 2019</h3>
      <ion-chip color="secondary">
        <ion-label color="dark">Ação</ion-label>
      </ion-chip>
      <ion-chip color="secondary">
        <ion-label color="dark">Infantil</ion-label>
      </ion-chip>
    </ion-label>
  </ion-item>
  <ion-item routerLink="/thor-amor">
    <ion-thumbnail slot="start">
      <img src="https://img.ibxk.com.br/2022/05/24/thor-4-24072357143000.jpg">
    </ion-thumbnail>
    <ion-label>
      <h1>
        <strong>Thor 4</strong>
      </h1>
      <h3>7 de julho de 2022</h3>
      <ion-chip color="secondary">
        <ion-label color="dark">Ação</ion-label>
      </ion-chip>
      <ion-chip color="secondary">
        <ion-label color="dark">Aventura</ion-label>
      </ion-chip>
    </ion-label>
  </ion-item>
  <ion-item routerLink="/jujutsu">
    <ion-thumbnail slot="start">
      <img
        src="https://br.web.img2.acsta.net/pictures/21/10/27/11/49/5430171.jpg"
        alt=""
      />
    </ion-thumbnail>
    <ion-label>
      <h1>
        <strong> Jujutsu Kaisen 0: O Filme </strong>
      </h1>
      <h3>24 de dez de 2021</h3>
      <ion-chip color="secondary">
        <ion-label color="dark">Animação</ion-label>
      </ion-chip>
      <ion-chip color="secondary">
        <ion-label color="dark">Ação</ion-label>
      </ion-chip>
      <ion-chip color="secondary">
        <ion-label color="dark">Fantasia</ion-label>
      </ion-chip>
    </ion-label>
  </ion-item>
  <ion-item routerLink="/top-gun">
    <ion-thumbnail slot="start">
      <img
        src="https://ingresso-a.akamaihd.net/prd/img/movie/top-gun-maverick/5e534635-127b-4121-a89f-19c47f5ba2a8.jpg"
        alt=""
      />
    </ion-thumbnail>
    <ion-label>
      <h1>
        <strong> Top Gun</strong>
      </h1>
      <h3>24 de mai de 2022</h3>
      <ion-chip color="secondary">
        <ion-label color="dark">Ação</ion-label>
      </ion-chip>
      <ion-chip color="secondary">
        <ion-label color="dark">Drama</ion-label>
      </ion-chip>
    </ion-label>
  </ion-item>
  <ion-item routerLink="/dragon-ball">
    <ion-thumbnail slot="start">
      <img
        src="https://jovemnerd.com.br/wp-content/uploads/2021/12/dragon-ball-super-super-filme-poster.jpg"
        alt=""
      />
    </ion-thumbnail>
    <ion-label>
      <h1>
        <strong>Dragon Ball</strong>
      </h1>
      <h3>18 de agosto de 2022</h3>
      <ion-chip color="secondary">
        <ion-label color="dark">Animação</ion-label>
      </ion-chip>
      <ion-chip color="secondary">
        <ion-label color="dark">Ação</ion-label>
      </ion-chip>
    </ion-label>
  </ion-item>

</ion-content>

