<ion-header [translucent]="true">
  <ion-toolbar class="barra ion-text-center">
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fundo">

  <ion-card>

    <img src="https://cdn-icons-png.flaticon.com/512/5645/5645053.png">

    <ion-label position="floating">Email</ion-label>
    <ion-input placeholder="Insira o Email"></ion-input>


    <ion-label position="floating">Senha</ion-label>
    <ion-input placeholder="Insira a Senha" type="password"></ion-input>

    <ion-button fill="clear" size="small">Esqueceu a senha?</ion-button>

  <div class="botoes">
  <ion-button class="ion-text-center botao1">Entrar</ion-button>

  <ion-label class="espaco">Ainda não tem uma conta?</ion-label>
  <ion-button size="small" fill="outline" class="botao1">Registre-se</ion-button>
</div>
</ion-card>
</ion-content>
